.about{
  background-color: #F6F6F6;
}

.about__title{
  font-family: $support-font;
  @include fonts(normal, 700, 34px, 1.2);
  text-align: center;
  margin-bottom: 30px;
}

.about__text{
  @include fonts(normal, 500, 18px, 1.2);
  text-align: center;

  margin-bottom: 50px;
}

.about__text:last-child{
  margin-bottom: 0;
}

@media (min-width: 768px){
  .about__container{
    max-width: 485px;
  }
}


