.header{
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container::after{
  content: "";
  display: block;
  height: 1px;
  width: 933.8px;
  background-color: #828282;
}

.header__body{
  position: relative;
  display: flex;
  height: 80px;
}

.header__menu{
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__burger{
  display: none;
}

.header__list{
  display: flex;
  position: relative;
  z-index: 2;
}

//.header__list li{
//  list-style: none;
//  margin-left: 20px;
//}

.header__item:not(:last-child){
  padding-right: 155px;
}

.header__link{
  color: inherit;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus{
  color: #828282;
}

.lang__wrapper{
  display: none;
}


@media (max-width: 767px) {
  .header{
    position: fixed;
  }
  .header:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }

  .header__container:after{
    content: "";
    display: none;
  }

  body.lock{
    overflow: hidden;
  }

  .header__container{
    padding-top: 66px;
    padding-left: 26px;
    padding-right: 26px;
  }

  .header__list{
    display: block;
    padding-bottom: 150px;
  }

  .header__link{
    font-size: 34px;
  }

  .header__body{
    justify-content: end;
    height: 50px;
  }
  .header__burger{
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }

  .header__burger span{
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after{
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before{
    content: "";
    top: 0;
  }

  .header__burger:after{
    content: "";
    bottom: 0;
  }

  .header__burger.active:before{
    content: "";
    transform: rotate(45deg);
    top: 9px;
    background-color: #828282;
  }

  .header__burger.active:after{
    content: "";
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #828282;

  }

  .header__burger.active span{
    transform: scale(0);
  }

  .header__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active{
    left: 0;
    padding: 66px 0 0 26px;
  }

  .header__item:not(:last-child){
    margin-bottom: 20px;
  }

  //.header__item:last-child{
  //  margin-bottom: 0;
  //}

  .header__link:hover,
  .header__link:focus{
    color: #828282;
  }

  .lang__wrapper{
    display: flex;
    position: absolute;
    justify-content: end;
    transform: rotate(90deg);
    right: 18px;
}

  .header__lang {
    @include fonts(normal, 700, 34px, 1.2);
  }

.header__lang:hover,
.header__lang:focus{
color:  #828282;
}

.header__lang:last-child{
margin-left: 4px;
}
}

