.hero{
  padding-top: 62px;
  padding-bottom: 84px;
}

.hero__title{
  font-family: $support-font;

  @include fonts(normal, 700, 48px, 1.2);
  max-width: 124px;

  margin-bottom: 23px;
}

.hero__text{
  @include fonts(normal, 500, 18px, 1.2);
}
.text__wrapper{
  margin-bottom: 36px;
}

.hero__list{
  display: none;
}

.hero__img{
  margin: 0 auto;
}

@media (min-width: 768px){
  .hero{
    padding-top: 40px;
    padding-bottom: 105px;
  }
  .hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .hero__title{
    margin-bottom: 0;
  }

  .hero__list{
    display: flex;
    justify-content: end;
    transform: rotate(90deg);
  }

  .hero__item{
    @include fonts(normal, 700, 16px, 1.2);
  }

  .hero__img{
    margin: 0;
  }
}
